
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="avatar">
      <img src="./assets/img/profile-default.png">
    </div>
  </ion-toolbar>

</ion-header>
<ion-content color="primary">

  <ion-grid *ngIf="data">
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <ion-item lines="none">
          <ion-label text-left>
            Name:
          </ion-label>
          <ion-label text-right>
            {{data.profile_name}}
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label text-left>
            Email:
          </ion-label>
          <ion-label text-right>
            {{data.email_id}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-left>
            Mobile:
          </ion-label>
          <ion-label text-right>
            {{data.mobile_no}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-left>
            Address:
          </ion-label>
          <ion-label text-right>
            {{data.address}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-left>
            Postal Code:
          </ion-label>
          <ion-label text-right>
            {{data.postcode}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-left>
            User Type:
          </ion-label>
          <ion-label text-right>
            {{usert}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-left>
            Profile Status:
          </ion-label>
          <ion-label text-right>
            {{status}}
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>