<!-- <ion-header [translucent]="true">
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="titleicon">
      <img src="./assets/icon/logo.png" />
 </div>
 <div class="title">
  Lumper Dispatch
 </div> 
  </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<h3>coming soon</h3>
</ion-content>
